mixin career(info)
    div.career__info
        button.careerEditBtn(data-companyid=info._id,data-url="editCareer") 편집
        span.career__companyName=info.companyName
        span.career__period=info.period
        span.career__role=info.role

