$red: #cc0d00;
$bg: #0e1117;
$inputAndButtonWidth:600px;
$inputAndButtonHeight:30px;
$buttonBackColor:#0da6e2;
$buttonColor:#faf9f9;
$buttonOpacity:0.5;
$buttonRadius:10px;

$imageBoxSize:200px;
$imagewidth:200px;
$imageheight:200px;
$deep1:white;
$deep2:rgb(0, 128, 75);
$deep3:yellow;
$deep4:rgb(197, 42, 42);
$deep5:#eeeeee;