
.profile{
    
    display:flex;
    justify-content: space-between;
    
}
//프로필 목록 시작점
.profile ul{
    display: flex;
    flex-wrap:wrap;
    
    width:70%;
}
//프로필 항목들
.profile ul li{
    flex:0 1 calc(30.33% - 10px);
    display: flex;
    margin:5px;
    // border: 1px solid $deep1;
    
}
//프로필 항목들 분류
.kind{
    margin-right:10px;
    width:50px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
//프로필 이미지 박스
.profileImage{
    width:$imageBoxSize;
    height:$imageBoxSize;
    
}
//프로필 이미지(사진에 직접 적용)
.profileImage img{
    width:$imagewidth;
    height: $imageheight;

}
.detail__info{
    
    width:300px;
}
