div.project__info 

    video#projectVideo(src=`/${project.videofileUrl}`) 
    button#videoPlay 플레이
    span.projectTitle=project.title

    span.startDate=project.startDate
    span.endDate=project.endDate

script(src="/assets/js/video.js")