
html(lang="ko")
    head
        title Resume for JMG
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
        link(rel="stylesheet",href="/assets/css/style.css")
        
    body
        
        include partials/header.pug
        main
            block content

        include partials/footer.pug
    script(src="/assets/js/main.js")
    block scripts
