extends home


block profile
    form#profileForm.infoForm
        input(name="name",type="text",placeholder="이름")
        input(name="age",type="text",placeholder="나이")
        input(name="sex",type="text",placeholder="성별")
        input(name="email",type="email",placeholder="이메일")
        input(name="phone",type="text",placeholder="폰번호")
        input(name="address",type="text",placeholder="주소")
        input(type="submit",value="프로필 수정")

block career
    button#careerPopBtn(data-url=`career`) 클릭

block project
    button#projectPopBtn(data-url=`project`) 클릭

block scripts 
    script(src="/assets/js/popup.js")
    
        





