header
    a(href="/").header_logo
        i.fas.fa-landmark
    nav
        ul
            li
                a(href="/") Home
            if(loggedIn==false)
                
                li
                    a(href="/signup") signup
                li
                    a(href="/login") login
            else
                li
                    a(href="/edit") edit
        